<div role="menu">
    <h1>
        <a href="http://sdact.tand.org.tw/" target="_blank" data-ga="logo-sdact"><img data-src="@@webRoot/img/logo.png"></a>
        <a class="gohome" href="@@webRoot/"></a>
    </h1>
    <!--選單-->
    <nav class="visible-zh">
        <a href="javascript:" class="openmenu"><label for="openmenu"><i class="fa fa-share-alt"></i></label></a>
        <input id="openmenu" type="checkbox">
        <aside class="social">
            <a href="javascript:app.utility.share.facebook('http://www.behard.com.tw/')" data-ga="share-menu-fb" title="分享至 Facebook">
                <figure data-src="@@webRoot/img/icon-facebook.png"></figure>
            </a>
            <a class="line" href="javascript:app.utility.share.line()" data-ga="share-menu-line" title="分享至 Line">
                <figure data-src="@@webRoot/img/icon-line.png"></figure>
            </a>
            <a href="@@webRoot/" class="hidden-sm-down" data-ga="menu-home">
                <figure data-src="@@webRoot/img/icon-home.png"></figure>
            </a>
        </aside>
        <aside class="menu">
            <a href="@@webRoot/statistics/" class="@@nav.statistics" data-ga="menu-survey">
                <figure>
                    <figure data-src="@@webRoot/img/nav-1.png"></figure>
                </figure>
                <h3>性福大調查</h3>
                <p>提前規劃&nbsp;享受更美好的夜晚</p>
                <br><b>了解更多</b>
            </a>
            <a href="@@webRoot/quiz/" class="@@nav.quiz" data-ga="menu-test">
                <figure data-src="@@webRoot/img/nav-2.png"></figure>
                <h3>硬度檢測</h3>
                <p>您的硬度&nbsp;決定另一半的態度</p>
                <span>看看您的勃起硬度指數&nbsp;(ED)有多硬！</span>
                <br><b>立即小試身手</b>
            </a>
            <a href="@@webRoot/articles/" class="@@nav.articles" data-ga="menu-article">
                <figure data-src="@@webRoot/img/nav-3.png"></figure>
                <h3>性福開講</h3>
                <p><sub>性福導師</sub>&nbsp;謝汝敦 醫師</p>
                <span>台大醫學院泌尿部主治醫師</span>
                <br><b>更多性福導師</b>
            </a>
            <a href="@@webRoot/map/" class="@@nav.map" data-ga="menu-info-map">
                <figure data-src="@@webRoot/img/nav-4.png"></figure>
                <h3>性福第一步</h3>
                <p>掌握絕翹性福來敲門</p>
                <span>勇於面對就有機會把硬度找回來</span>
                <br><b>查詢索取地點</b>
            </a>
            <a href="@@webRoot/bogus-medicine-distinguish/" class="@@nav.distinguish" data-ga="menu-drug">
                <figure data-src="@@webRoot/img/nav-5.png"></figure>
                <h3>偽藥現形</h3>
                <p>為性福著想 拒買拒吃偽藥</p>
                <br><b>如何分辨偽藥</b>
            </a>
            <a href="http://sdact.tand.org.tw/" target="_blank" data-ga="menu-sdact">
                <img data-src="@@webRoot/img/committee.png">
            </a>
        </aside>
    </nav>
    <!--./選單-->
</div>
<span class="notice text-center">
    <figure data-src="@@webRoot/img/icon-notice.png"></figure>
    為性福著想<div>．</div>勿在網路或不明通路購買壯陽藥
</span>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-104691331-1');ga('send','pageview');
</script>

<!-- build:js @@webRoot/js/vendor.js -->
<!-- bower:js -->
<script src="/vendor/jquery/dist/jquery.js"></script>
<script src="/vendor/modernizr/modernizr.js"></script>
<script src="/vendor/tether/dist/js/tether.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="/vendor/lightgallery/dist/js/lightgallery-all.min.js"></script>
<script src="/vendor/jquery-TWzipcode-i18n/jquery.twzipcode.js"></script>
<script src="/vendor/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
<script src="/vendor/gsap/src/uncompressed/TweenMax.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js @@webRoot/js/main.js -->
<script src="@@webRoot/js/app.js"></script>
<script src="@@webRoot/js/utility.js"></script>
<script src="@@webRoot/js/preload.js"></script>
<script src="@@webRoot/js/spa.js"></script>
<script src="@@webRoot/js/i18n.js"></script>
<script src="@@webRoot/js/ga.js"></script>
<!-- endbuild -->

<!-- build:js @@webRoot/js/components.js -->
<script src="@@webRoot/js/components/home.js"></script>
<script src="@@webRoot/js/components/map.js"></script>
<script src="@@webRoot/js/components/quiz.js"></script>
<script src="@@webRoot/js/components/distinguish.js"></script>
<script src="@@webRoot/js/components/statistics.js"></script>
<script src="@@webRoot/js/components/articles.js"></script>
<!-- endbuild -->

</body>

</html>