<!doctype html>
<html class="no-js" lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@@meta.title</title>

    <meta property="og:title" content="@@meta.title" />
    <meta property="og:description" content="@@meta.description" />
    <meta property="og:image" content="http://cheil.azurewebsites.net/pfizer/@@meta.image" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="" />
    <link rel="apple-touch-icon" href="@@webRoot/favicon.ico">
    <link rel="icon" type="image/x-icon" href="@@webRoot/favicon.ico" />
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css @@webRoot/css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/vendor/lightgallery/dist/css/lightgallery.css" />
    <link rel="stylesheet" href="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css @@webRoot/css/main.css -->
    <link rel="stylesheet" href="@@webRoot/css/main.css">
    <!-- endbuild -->

    <!-- build:js @@webRoot/js/modernizr.js -->
    <script src="/vendor/modernizr/modernizr.js"></script>
    <script src="/vendor/detectizr/dist/detectizr.js"></script>
    <!-- endbuild -->
</head>

<body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->